In [1]:
import pandas as pd

In [46]:
df = pd.DataFrame({'id' : [101,102,103] , 'color' : ['red','blue','green']} , columns = ['id' , 'color'] , index = ['a' , 'b' , 'c'])
df

    id  color
a  101    red
b  102   blue
c  103  green

In [7]:
pd.DataFrame([[101,'red'] ,[102,'blue'],[103 ,'green']])

     0      1
0  101    red
1  102   blue
2  103  green

In [8]:
pd.DataFrame([[101,'red'] ,[102,'blue'],[103 ,'green']] , columns = ['id' , 'color'])

    id  color
0  101    red
1  102   blue
2  103  green

In [9]:
import numpy as np

In [11]:
arr = np.random.rand(4,2)
arr

array([[0.88080073, 0.55381209],
       [0.35726796, 0.82462367],
       [0.73381258, 0.99586941],
       [0.7499484 , 0.3885633 ]])

In [12]:
pd.DataFrame(arr , columns = ['id' , 'color'])

         id     color
0  0.880801  0.553812
1  0.357268  0.824624
2  0.733813  0.995869
3  0.749948  0.388563

In [37]:
pd.DataFrame({'student' : np.arange(100,110,1) , 'test' : np.random.randint(60,101,10) }).set_index('student')

         test
student
100        82
101       100
102        84
103        76
104        61
105        95
106        78
107        95
108        61
109        99

In [42]:
s  = pd.Series(['roubd' , 'square'] , index = ['a' , 'c'] , name = 'DATA')
s

a     roubd
c    square
Name: DATA, dtype: object

In [47]:
df

    id  color
a  101    red
b  102   blue
c  103  green

In [50]:
pd.concat([df,s] , axis = 1)

    id  color    DATA
a  101    red   roubd
b  102   blue     NaN
c  103  green  square